.watch{
    background-image: url('https://images.indianexpress.com/2022/09/Apple-Watch-Series-8.jpg');
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: center;
 

}